body{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#btnScrapper{
    width: auto;
    margin: 0 5px 0 5px;
}
.display-6{
    text-align: center;
}